In [32]:
import numpy as np
import pandas as pd

In [33]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

In [34]:
df = pd.read_csv('gurgaon_properties.csv')

In [35]:
df.sample(5)

,Unnamed: 0,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
3869,NaN,12 Bedroom House for sale in DLF Phase 2,house,floor wise designer kothi,13.00,48148.0,2700.0,Plot area 300(250.84 sq.m.),12,16,3+,"pooja room,study room,servant room,store room","Floor Wise Designer Kothi, DLF Phase 2, Gurgao...",4.0,North-East,0 to 1 Year Old,"['Vodafone belvedere towers metro station', 'D...",Floor wise designer kothi near market & metro ...,"['1 Water Purifier', '36 Fan', '1 Exhaust Fan'...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Environment5 out of 5', 'Lifestyle5 out of 5..."
792,NaN,5 Bedroom House for sale in DLF Phase 1,house,independent,17.00,37627.0,4518.0,Plot area 502(419.74 sq.m.),5,5,3+,"pooja room,study room,servant room,store room","DLF Phase 1, Gurgaon, Haryana",2.0,North-East,1 to 5 Year Old,"['Guru dronacharya metro station', 'Dlf phase ...",Ultra luxurious bungalow available for sale in...,"['9 Fan', '6 Geyser', '9 Light', '6 AC', 'No B...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Environment5 out of 5', 'Safety5 out of 5', ..."
24,104.0,1 BHK Flat in Sohna,flat,HCBS Sports Ville3.6 ★,0.24,7407.0,324.0,Carpet area: 324 (30.1 sq.m.),1,1,2,not available,"Sohna, Gurgaon, Haryana",1.0,North,0 to 1 Year Old,"['The roadside cafe', 'GD Goenka Mess', 'ROyal...",This 1 bhk flat is located in hcbs sports vill...,NaN,"['Power Back-up', 'Security / Fire Alarm', 'In...","['Green Area4 out of 5', 'Amenities4 out of 5'..."
2706,2202.0,3 BHK Flat in Sector 63 Gurgaon,flat,Adani Brahma Samsara Vilasa,3.25,29545.0,1100.0,Built Up area: 2700 (250.84 sq.m.)Carpet area:...,3,3,3,others,"Sector 63 Gurgaon, Gurgaon, Haryana",4.0,North-East,0 to 1 Year Old,"['Rapid Metro Station Sector 56', 'Paras Trini...",Exclusive terrace. Open sit out,NaN,"['Feng Shui / Vaastu Compliant', 'Security / F...",NaN
2918,701.0,3 BHK Flat in Sector 113 Gurgaon,flat,La Vida by Tata Housing,2.48,14090.0,1760.0,Super Built up area 2217(205.97 sq.m.)Built Up...,3,3,3+,servant room,"Sector 113,dwarka Expressway, Sector 113 Gurga...",8.0,NaN,0 to 1 Year Old,"['Dwarka Sector 21', 'Pacific D21 Mall', 'Bajg...",This 3 bhk apartment is available for sale in ...,"['1 AC', '1 Modular Kitchen', 'No Bed', 'No Ch...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...",NaN

In [36]:
df.shape

(3961, 21)

In [37]:
df.duplicated().sum()

0

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3961 entries, 0 to 3960
Data columns (total 21 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       2997 non-null   float64
 1   property_name    3961 non-null   object
 2   property_type    3961 non-null   object
 3   society          3960 non-null   object
 4   price            3941 non-null   float64
 5   price_per_sqft   3941 non-null   float64
 6   area             3941 non-null   float64
 7   areaWithType     3961 non-null   object
 8   bedRoom          3961 non-null   int64
 9   bathroom         3961 non-null   int64
 10  balcony          3961 non-null   object
 11  additionalRoom   3961 non-null   object
 12  address          3950 non-null   object
 13  floorNum         3940 non-null   float64
 14  facing           2784 non-null   object
 15  agePossession    3960 non-null   object
 16  nearbyLocations  3754 non-null   object
 17  description      3961 non-null   object
 18  furnishDetails   2929 non-null   object
 19  features         3252 non-null   object
 20  rating           3511 non-null   object
dtypes: float64(5), int64(2), object(14)
memory usage: 650.0+ KB

In [39]:
df.isnull().sum()

Unnamed: 0          964
property_name         0
property_type         0
society               1
price                20
price_per_sqft       20
area                 20
areaWithType          0
bedRoom               0
bathroom              0
balcony               0
additionalRoom        0
address              11
floorNum             21
facing             1177
agePossession         1
nearbyLocations     207
description           0
furnishDetails     1032
features            709
rating              450
dtype: int64

In [40]:
df.head()

,Unnamed: 0,property_name,property_type,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,2766.0,3 BHK Flat in Dwarka Expressway Gurgaon,flat,Ansals Highland Park,1.20,6185.0,1940.0,Built Up area: 1940 (180.23 sq.m.),3,3,3+,servant room,"Sector 103, Dwarka Expressway, Gurugram, Harya...",4.0,NaN,Under Construction,"['Dr. Hitesh Dawar', 'Bhardwaj Hospital', 'R K...",This three bedroom for sale comes with an affo...,"['1 Light', 'No AC', 'No Bed', 'No Chimney', '...",NaN,NaN
1,306.0,4 BHK Flat in Sector 86 Gurgaon,flat,Ansal Heights 86,1.30,4666.0,2786.0,Super Built up area 2786(258.83 sq.m.),4,6,2,"servant room,others","11 Th Floor, Sector 86 Gurgaon, Gurgaon, Haryana",11.0,East,0 to 1 Year Old,"['IRIS Broadway Mall', 'Delhi Jaipur Expresswa...",Ready to move property directly available from...,NaN,"['Security / Fire Alarm', 'Lift(s)', 'Maintena...","['Connectivity4.5 out of 5', 'Lifestyle5 out o..."
2,2176.0,3 BHK Flat in Sector 51 Gurgaon,flat,Orchid Island4.2 ★,1.70,10651.0,1596.0,Carpet area: 1596 (148.27 sq.m.),3,4,3,"pooja room,store room","Sector 51 Gurgaon, Gurgaon, Haryana",2.0,West,5 to 10 Year Old,"['Rapid Metro Sector 55-56', 'Tigra Market', '...",It's one of the huge lowrise society with mass...,"['4 Geyser', '10 Light', '4 AC', 'No Bed', 'No...","['Power Back-up', 'Private Garden / Terrace', ...","['Green Area5 out of 5', 'Construction4.5 out ..."
3,1450.0,2 BHK Flat in Sohna,flat,Signature Global Park4.0 ★,0.72,5991.0,1202.0,Super Built up area 1210(112.41 sq.m.),2,2,3,pooja room,"001, Sohna, Gurgaon, Haryana",3.0,North-West,1 to 5 Year Old,"['Sector 55-56 metro', 'Global city centre', '...","Signature global park in sohna, gurgaon is a r...","['3 Fan', '1 Exhaust Fan', '3 Light', '1 Modul...","['Water purifier', 'Centrally Air Conditioned'...","['Green Area5 out of 5', 'Construction5 out of..."
4,NaN,5 Bedroom House for sale in Sector 112 Gurgaon,house,experion windchants,9.50,23457.0,4050.0,Plot area 450(376.26 sq.m.)Built Up area: 7450...,5,5,3,servant room,"Sector 112 Gurgaon, Gurgaon, Haryana",2.0,NaN,1 to 5 Year Old,"['Ansal Plaza', 'Dwaraka Expressway', 'First S...","Sector 112 gurgaon, gurgaon, haryana\nKindly c...","['1 Modular Kitchen', 'No AC', 'No Bed', 'No C...","['Maintenance Staff', 'Swimming Pool', 'Park',...","['Environment5 out of 5', 'Lifestyle4 out of 5..."

In [41]:
df.insert(loc=3,column='sector',value=df['property_name'].str.split('in').str.get(1).str.replace('Gurgaon','').str.strip())

In [42]:
df.head()

,Unnamed: 0,property_name,property_type,sector,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,2766.0,3 BHK Flat in Dwarka Expressway Gurgaon,flat,Dwarka Expressway,Ansals Highland Park,1.20,6185.0,1940.0,Built Up area: 1940 (180.23 sq.m.),3,3,3+,servant room,"Sector 103, Dwarka Expressway, Gurugram, Harya...",4.0,NaN,Under Construction,"['Dr. Hitesh Dawar', 'Bhardwaj Hospital', 'R K...",This three bedroom for sale comes with an affo...,"['1 Light', 'No AC', 'No Bed', 'No Chimney', '...",NaN,NaN
1,306.0,4 BHK Flat in Sector 86 Gurgaon,flat,Sector 86,Ansal Heights 86,1.30,4666.0,2786.0,Super Built up area 2786(258.83 sq.m.),4,6,2,"servant room,others","11 Th Floor, Sector 86 Gurgaon, Gurgaon, Haryana",11.0,East,0 to 1 Year Old,"['IRIS Broadway Mall', 'Delhi Jaipur Expresswa...",Ready to move property directly available from...,NaN,"['Security / Fire Alarm', 'Lift(s)', 'Maintena...","['Connectivity4.5 out of 5', 'Lifestyle5 out o..."
2,2176.0,3 BHK Flat in Sector 51 Gurgaon,flat,Sector 51,Orchid Island4.2 ★,1.70,10651.0,1596.0,Carpet area: 1596 (148.27 sq.m.),3,4,3,"pooja room,store room","Sector 51 Gurgaon, Gurgaon, Haryana",2.0,West,5 to 10 Year Old,"['Rapid Metro Sector 55-56', 'Tigra Market', '...",It's one of the huge lowrise society with mass...,"['4 Geyser', '10 Light', '4 AC', 'No Bed', 'No...","['Power Back-up', 'Private Garden / Terrace', ...","['Green Area5 out of 5', 'Construction4.5 out ..."
3,1450.0,2 BHK Flat in Sohna,flat,Sohna,Signature Global Park4.0 ★,0.72,5991.0,1202.0,Super Built up area 1210(112.41 sq.m.),2,2,3,pooja room,"001, Sohna, Gurgaon, Haryana",3.0,North-West,1 to 5 Year Old,"['Sector 55-56 metro', 'Global city centre', '...","Signature global park in sohna, gurgaon is a r...","['3 Fan', '1 Exhaust Fan', '3 Light', '1 Modul...","['Water purifier', 'Centrally Air Conditioned'...","['Green Area5 out of 5', 'Construction5 out of..."
4,NaN,5 Bedroom House for sale in Sector 112 Gurgaon,house,Sector 112,experion windchants,9.50,23457.0,4050.0,Plot area 450(376.26 sq.m.)Built Up area: 7450...,5,5,3,servant room,"Sector 112 Gurgaon, Gurgaon, Haryana",2.0,NaN,1 to 5 Year Old,"['Ansal Plaza', 'Dwaraka Expressway', 'First S...","Sector 112 gurgaon, gurgaon, haryana\nKindly c...","['1 Modular Kitchen', 'No AC', 'No Bed', 'No C...","['Maintenance Staff', 'Swimming Pool', 'Park',...","['Environment5 out of 5', 'Lifestyle4 out of 5..."

In [43]:
df['sector'] = df['sector'].str.lower()

In [44]:
df.head()

,Unnamed: 0,property_name,property_type,sector,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,2766.0,3 BHK Flat in Dwarka Expressway Gurgaon,flat,dwarka expressway,Ansals Highland Park,1.20,6185.0,1940.0,Built Up area: 1940 (180.23 sq.m.),3,3,3+,servant room,"Sector 103, Dwarka Expressway, Gurugram, Harya...",4.0,NaN,Under Construction,"['Dr. Hitesh Dawar', 'Bhardwaj Hospital', 'R K...",This three bedroom for sale comes with an affo...,"['1 Light', 'No AC', 'No Bed', 'No Chimney', '...",NaN,NaN
1,306.0,4 BHK Flat in Sector 86 Gurgaon,flat,sector 86,Ansal Heights 86,1.30,4666.0,2786.0,Super Built up area 2786(258.83 sq.m.),4,6,2,"servant room,others","11 Th Floor, Sector 86 Gurgaon, Gurgaon, Haryana",11.0,East,0 to 1 Year Old,"['IRIS Broadway Mall', 'Delhi Jaipur Expresswa...",Ready to move property directly available from...,NaN,"['Security / Fire Alarm', 'Lift(s)', 'Maintena...","['Connectivity4.5 out of 5', 'Lifestyle5 out o..."
2,2176.0,3 BHK Flat in Sector 51 Gurgaon,flat,sector 51,Orchid Island4.2 ★,1.70,10651.0,1596.0,Carpet area: 1596 (148.27 sq.m.),3,4,3,"pooja room,store room","Sector 51 Gurgaon, Gurgaon, Haryana",2.0,West,5 to 10 Year Old,"['Rapid Metro Sector 55-56', 'Tigra Market', '...",It's one of the huge lowrise society with mass...,"['4 Geyser', '10 Light', '4 AC', 'No Bed', 'No...","['Power Back-up', 'Private Garden / Terrace', ...","['Green Area5 out of 5', 'Construction4.5 out ..."
3,1450.0,2 BHK Flat in Sohna,flat,sohna,Signature Global Park4.0 ★,0.72,5991.0,1202.0,Super Built up area 1210(112.41 sq.m.),2,2,3,pooja room,"001, Sohna, Gurgaon, Haryana",3.0,North-West,1 to 5 Year Old,"['Sector 55-56 metro', 'Global city centre', '...","Signature global park in sohna, gurgaon is a r...","['3 Fan', '1 Exhaust Fan', '3 Light', '1 Modul...","['Water purifier', 'Centrally Air Conditioned'...","['Green Area5 out of 5', 'Construction5 out of..."
4,NaN,5 Bedroom House for sale in Sector 112 Gurgaon,house,sector 112,experion windchants,9.50,23457.0,4050.0,Plot area 450(376.26 sq.m.)Built Up area: 7450...,5,5,3,servant room,"Sector 112 Gurgaon, Gurgaon, Haryana",2.0,NaN,1 to 5 Year Old,"['Ansal Plaza', 'Dwaraka Expressway', 'First S...","Sector 112 gurgaon, gurgaon, haryana\nKindly c...","['1 Modular Kitchen', 'No AC', 'No Bed', 'No C...","['Maintenance Staff', 'Swimming Pool', 'Park',...","['Environment5 out of 5', 'Lifestyle4 out of 5..."

In [45]:
df['sector'].value_counts()

sector
sohna                                                        163
sector 102                                                   113
sector 85                                                    110
sector 92                                                    104
sector 69                                                     94
sector 90                                                     90
sector 65                                                     90
sector 81                                                     90
sector 109                                                    88
sector 79                                                     80
sector 83                                                     69
sector 37d                                                    68
sector 86                                                     67
sector 104                                                    66
sector 107                                                    60
sector 108                                                    59
sector 95                                                     57
sector 56                                                     57
sector 89                                                     56
sector 48                                                     56
sector 70a                                                    54
nirvana country                                               53
sector 70                                                     53
sector 37c                                                    53
sector-33 sohna                                               51
sector 84                                                     51
palam vihar                                                   50
sector 67                                                     48
sector 66                                                     46
sector 103                                                    45
dlf phase 1                                                   43
sector 113                                                    43
dlf phase 2                                                   43
sector 61                                                     42
sector 82                                                     42
sector 106                                                    38
sector 49                                                     36
sector 99a                                                    32
sushant lok phase 1                                           31
sector 68                                                     30
sector 77                                                     29
sector 72                                                     29
laxman vihar                                                  27
sector 54                                                     27
sector 71                                                     27
dlf phase 4                                                   26
sector 112                                                    24
sector 88a                                                    23
sector 33                                                     23
dlf phase 3                                                   22
sector 67a                                                    22
sector 111                                                    22
sector 22                                                     20
sector 82a                                                    20
sector 78                                                     19
sector 74                                                     18
sector 63a                                                    18
sector 91                                                     17
sector 62                                                     17
sector 99                                                     16
sushant lok phase 3                                           16
sector 110                                                    16
sector 60                                                     15
sector 14                                                     15
sector 63                                                     15
gwal pahari                                                   14
dlf phase 5                                                   14
sector 3                                                      14
sector 76                                                     14
rajendra park                                                 14
sector 1 imt manesar                                          14
sector 52                                                     14
sector 53                                                     14
laxman vihar phase 2                                          13
sector 46                                                     13
sector 36a                                                    13
sector 31                                                     12
uppals southend                                               12
sector 93                                                     12
sohna road                                                    12
sector 38                                                     12
sector 39                                                     12
sector 50                                                     12
sector 47                                                     11
sector 9a                                                     11
ashok vihar phase 3 extension                                 11
sector 1a imt manesar                                         10
sector 7                                                      10
ashok vihar phase 2                                            9
sector 95a                                                     9
sector 55                                                      9
south city 1                                                   9
sector 4                                                       9
palam vihar extension                                          8
c block sushant lok phase 1                                    8
sector 40                                                      8
sector 59                                                      8
sector 57                                                      8
sector 43                                                      8
sector 10a                                                     8
dwarka expressway                                              8
malibu town                                                    8
sector 89 a                                                    8
mehrauli  road                                                 8
sector 51                                                      7
new colony                                                     7
surat nagar 1                                                  7
sector 26                                                      7
sector 11                                                      7
sector 36 sohna                                                7
sector 58                                                      7
mianwali colony                                                7
sector 5                                                       6
rajiv nagar                                                    6
sector 1                                                       6
ashok vihar                                                    6
jacobpura                                                      6
jyoti park                                                     6
manesar                                                        5
sector 9                                                       5
sector 80                                                      5
ansal plaza                                                    5
sector 105                                                     5
arjun nagar                                                    5
sushant lok phase 2                                            5
new palam vihar                                                5
sector 23a                                                     5
greenwood city                                                 5
sector 30                                                      5
dayanand colony                                                5
sector 28                                                      5
subhash nagar                                                  5
sector 2                                                       5
saraswati vihar                                                5
chakkarpur                                                     5
sector 6                                                       4
bhondsi                                                        4
imt manesar                                                    4
dharam colony                                                  4
ravi nagar                                                     4
new                                                            4
adarsh nagar                                                   4
sector 17                                                      4
devilal colony                                                 4
sector 12a                                                     4
bhim nagar                                                     4
vishnu garden                                                  4
krishna colony                                                 4
suncity                                                        4
sector 45                                                      4
sector 3a                                                      4
surya vihar                                                    4
sector 12                                                      4
valley view estate                                             4
garhi harsaru                                                  4
baldev nagar                                                   4
shivaji nagar                                                  4
sector 36                                                      4
madanpuri                                                      4
shivpuri                                                       4
sector 73                                                      3
mg road                                                        3
sector 8                                                       3
sector 23                                                      3
a block sushant lok phase 1                                    3
laxmi garden                                                   3
sector 110 a                                                   3
sector 17b                                                     3
sector 88b                                                     3
maruti kunj                                                    3
b block sushant lok phase 1                                    3
gandhi nagar                                                   3
sector 27                                                      3
sector 15                                                      3
prem nagar                                                     3
shakti nagar                                                   3
sector 17a                                                     3
patel nagar                                                    3
new palam vihar phase 1                                        2
surat nagar                                                    2
sheetla colony                                                 2
nars                                                           2
sector 24                                                      2
mayfield garden                                                2
shankar vihar                                                  2
iffco chowk                                                    2
block a surya vihar                                            2
sohna  road                                                    2
mohan nagar                                                    2
samaspur                                                       2
sector 21                                                      2
sispal vihar                                                   2
sector-11 sohna                                                2
ambience island                                                2
sector 15 part 2                                               2
hira nagar                                                     2
rosewood                                                       2
manohar nagar                                                  2
sector 15 part 1                                               2
bhawani enclave                                                2
sector 41                                                      2
sushant lok                                                    2
surat nagar phase 2                                            2
rajiv chowk                                                    2
faridabad road                                                 2
pratap nagar                                                   2
daulatabad                                                     2
, delhi ncr                                                    2
west rajiv nagar                                               2
sector-2 sohna                                                 2
golf course road                                               2
sector 32                                                      2
golf course ext road                                           2
new palam vihar phase 2                                        2
bissar                                                         2
lajpat nagar                                                   2
shanti nagar                                                   2
new basti                                                      2
acharya puri                                                   2
farukhnagar                                                    2
udyog vihar phase 1                                            1
ats marigold                                                   1
near euro                                                      1
garauli kalan                                                  1
b1 block sector 57                                             1
mahavir pura                                                   1
laxmna vihar, phase 2                                          1
part 3 sector 5                                                1
ram nagar                                                      1
shivji park colony                                             1
old delhi road, opp sector-14                                  1
jacobpura near sadar bazar                                     1
sector 17c                                                     1
park view                                                      1
hno 13 sagar enclave sura                                      1
devi lal colony gali no 12 gurgaon nr omkar public school      1
gopal nagar, garhi ghasita, sonipat                            1
block h ashok vihar phase iii extension                        1
south city                                                     1
sector 9b                                                      1
block g sector-57                                              1
kanahi                                                         1
damdma                                                         1
pataudi road                                                   1
anand garden, sector-105                                       1
near pataudi chowk                                             1
sultanpur                                                      1
saroop garden rajendra park                                    1
sector-35 sohna                                                1
lucknow                                                        1
near sector 1 market                                           1
sec 3 bhim vihar part 1 bhimgher kheri                         1
nirvana country pocket h                                       1
rajiv colony                                                   1
sector 4 urban estate                                          1
laxman vihar, railway road,                                    1
khandsa                                                        1
kheri                                                          1
jat colony,fazilpur/taj nagar road                             1
ashok vihar phase i                                            1
vir nagar                                                      1
ansal's palam vihar                                            1
dhankot                                                        1
new colony, sector 7                                           1
civil l                                                        1
sector 13                                                      1
carterpuri village                                             1
sai kunj                                                       1
mahalaxmi garden, rajendra place                               1
cyber city                                                     1
om nagar                                                       1
sector 21a faridabad                                           1
sector 37b                                                     1
sadar bazar                                                    1
v block dlf phase 3                                            1
sector 5 chowk                                                 1
sector-5 sohna                                                 1
urban estate, sector 5                                         1
godrej aria , sector 79 ,                                      1
bptp                                                           1
near khandsa road                                              1
sector 42                                                      1
rattan garden                                                  1
saraswati enclave                                              1
sector-5 sheetla colony                                        1
huda saraswati vihar                                           1
ashok vihar phase 3                                            1
naharpur rupa                                                  1
new jyoti park                                                 1
near nand hospital                                             1
g block dlf city phase 1                                       1
sector 37a                                                     1
bhora kalan                                                    1
bhimgarh kheri phase 3                                         1
hsiidc plot sector 1 imt manesar                               1
ravi nager basai road                                          1
alipur                                                         1
tekchand nagar                                                 1
begampur khatola                                               1
heritage city                                                  1
sector-7 hous                                                  1
Name: count, dtype: int64

In [46]:
df['sector'] = df['sector'].str.replace('dharam colony','sector 12')
df['sector'] = df['sector'].str.replace('krishna colony','sector 7')
df['sector'] = df['sector'].str.replace('suncity','sector 54')
df['sector'] = df['sector'].str.replace('prem nagar','sector 13')
df['sector'] = df['sector'].str.replace('mg road','sector 28')
df['sector'] = df['sector'].str.replace('gandhi nagar','sector 28')
df['sector'] = df['sector'].str.replace('laxmi garden','sector 11')
df['sector'] = df['sector'].str.replace('shakti nagar','sector 11')

In [47]:

df['sector'] = df['sector'].str.replace('baldev nagar','sector 7')
df['sector'] = df['sector'].str.replace('shivpuri','sector 7')
df['sector'] = df['sector'].str.replace('garhi harsaru','sector 17')
df['sector'] = df['sector'].str.replace('imt manesar','manesar')
df['sector'] = df['sector'].str.replace('adarsh nagar','sector 12')
df['sector'] = df['sector'].str.replace('shivaji nagar','sector 11')
df['sector'] = df['sector'].str.replace('bhim nagar','sector 6')
df['sector'] = df['sector'].str.replace('madanpuri','sector 7')

In [48]:
df['sector'] = df['sector'].str.replace('mehrauli  road','sector 14')
df['sector'] = df['sector'].str.replace('jyoti park','sector 7')
df['sector'] = df['sector'].str.replace('ansal plaza','sector 23')
df['sector'] = df['sector'].str.replace('dayanand colony','sector 6')
df['sector'] = df['sector'].str.replace('sushant lok phase 2','sector 55')
df['sector'] = df['sector'].str.replace('chakkarpur','sector 28')
df['sector'] = df['sector'].str.replace('greenwood city','sector 45')
df['sector'] = df['sector'].str.replace('subhash nagar','sector 12')

In [49]:

df['sector'] = df['sector'].str.replace('sohna road road','sohna road')
df['sector'] = df['sector'].str.replace('malibu town','sector 47')
df['sector'] = df['sector'].str.replace('surat nagar 1','sector 104')
df['sector'] = df['sector'].str.replace('new colony','sector 7')
df['sector'] = df['sector'].str.replace('mianwali colony','sector 12')
df['sector'] = df['sector'].str.replace('jacobpura','sector 12')
df['sector'] = df['sector'].str.replace('rajiv nagar','sector 13')
df['sector'] = df['sector'].str.replace('ashok vihar','sector 3')

In [50]:
df['sector'] = df['sector'].str.replace('dlf phase 1','sector 26')
df['sector'] = df['sector'].str.replace('nirvana country','sector 50')
df['sector'] = df['sector'].str.replace('palam vihar','sector 2')
df['sector'] = df['sector'].str.replace('dlf phase 2','sector 25')
df['sector'] = df['sector'].str.replace('sushant lok phase 1','sector 43')
df['sector'] = df['sector'].str.replace('laxman vihar','sector 4')
df['sector'] = df['sector'].str.replace('dlf phase 4','sector 28')
df['sector'] = df['sector'].str.replace('dlf phase 3','sector 24')

In [51]:
df['sector'] = df['sector'].str.replace('sushant lok phase 3','sector 57')
df['sector'] = df['sector'].str.replace('dlf phase 5','sector 43')
df['sector'] = df['sector'].str.replace('rajendra park','sector 105')
df['sector'] = df['sector'].str.replace('uppals southend','sector 49')
df['sector'] = df['sector'].str.replace('sohna','sohna road')
df['sector'] = df['sector'].str.replace('ashok vihar phase 3 extension','sector 5')
df['sector'] = df['sector'].str.replace('south city 1','sector 41')
df['sector'] = df['sector'].str.replace('ashok vihar phase 2','sector 5')

In [52]:
a= df['sector'].value_counts()[df['sector'].value_counts() >= 3]
df = df[df['sector'].isin(a.index)]

In [53]:
df['sector'].value_counts()

sector
sohna road                    163
sector 102                    113
sector 85                     110
sector 92                     104
sector 69                      94
sector 65                      90
sector 81                      90
sector 90                      90
sector 109                     88
sector 79                      80
sector 104                     73
sector 83                      69
sector 37d                     68
sector 86                      67
sector 50                      65
sector 107                     60
sector 108                     59
sector 56                      57
sector 95                      57
sector 89                      56
sector 48                      56
sector 2                       55
sector 70a                     54
sector 43                      53
sector 37c                     53
sector 70                      53
sector 84                      51
sector-33 sohna road           51
sector 26                      50
sector 49                      48
sector 67                      48
sector 66                      46
sector 103                     45
sector 25                      43
sector 113                     43
sector 61                      42
sector 82                      42
sector 28                      42
sector 7                       39
sector 106                     38
sector 4                       36
sector 99a                     32
sector 54                      31
sector 68                      30
sector 12                      30
sector 77                      29
sector 72                      29
sector 71                      27
sector 112                     24
sector 24                      24
sector 57                      24
sector 88a                     23
sector 14                      23
sector 33                      23
sector 67a                     22
sector 111                     22
sector 22                      20
sector 82a                     20
sector 3                       20
sector 47                      19
sector 105                     19
sector 78                      19
sector 63a                     18
sector 74                      18
sector 62                      17
sector 11                      17
sector 91                      17
sector 110                     16
sector 99                      16
sector 60                      15
sector 63                      15
sector 52                      14
sector 1 manesar               14
gwal pahari                    14
sector 76                      14
sector 55                      14
sector 53                      14
sector 4 phase 2               13
sector 36a                     13
sector 6                       13
sector 46                      13
sector 39                      12
sector 38                      12
sector 31                      12
sohna road road                12
sector 93                      12
sector 9a                      11
sector 3 phase 3 extension     11
sector 41                      11
sector 1a manesar              10
sector 13                      10
manesar                         9
sector 95a                      9
sector 45                       9
sector 3 phase 2                9
sector 40                       8
c block sector 43               8
sector 10a                      8
sector 2 extension              8
dwarka expressway               8
sector 59                       8
sector 17                       8
sector 89 a                     8
sector 23                       8
sector 58                       7
sector 51                       7
sector 36 sohna road            7
sector 1                        6
sector 5                        6
saraswati vihar                 5
arjun nagar                     5
sector 30                       5
sector 80                       5
new sector 2                    5
sector 23a                      5
sector 9                        5
bhondsi                         4
devilal colony                  4
sector 3a                       4
ravi nagar                      4
vishnu garden                   4
new                             4
valley view estate              4
surya vihar                     4
sector 12a                      4
sector 36                       4
a block sector 43               3
maruti kunj                     3
sector 17a                      3
sector 17b                      3
sector 8                        3
sector 73                       3
b block sector 43               3
sector 15                       3
patel nagar                     3
sector 27                       3
sector 110 a                    3
sector 88b                      3
Name: count, dtype: int64

In [54]:
df['sector'] = df['sector'].str.replace('sector 95a','sector 95')
df['sector'] = df['sector'].str.replace('sector 23a','sector 23')
df['sector'] = df['sector'].str.replace('sector 12a','sector 12')
df['sector'] = df['sector'].str.replace('sector 3a','sector 3')
df['sector'] = df['sector'].str.replace('sector 110 a','sector 110')
df['sector'] = df['sector'].str.replace('patel nagar','sector 15')
df['sector'] = df['sector'].str.replace('a block sector 43','sector 43')
df['sector'] = df['sector'].str.replace('maruti kunj','sector 12')
df['sector'] = df['sector'].str.replace('b block sector 43','sector 43')

In [56]:
df['sector'] = df['sector'].str.replace('sector-33 sohna road','sector 33')
df['sector'] = df['sector'].str.replace('sector 1 manesar','manesar')
df['sector'] = df['sector'].str.replace('sector 4 phase 2','sector 4')
df['sector'] = df['sector'].str.replace('sector 1a manesar','manesar')
df['sector'] = df['sector'].str.replace('c block sector 43','sector 43')
df['sector'] = df['sector'].str.replace('sector 89 a','sector 89')
df['sector'] = df['sector'].str.replace('sector 2 extension','sector 2')
df['sector'] = df['sector'].str.replace('sector 36 sohna road','sector 36')

In [61]:
df[df['sector'] == 'new']

,Unnamed: 0,property_name,property_type,sector,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
854,2812.0,2 BHK Flat in New Gurgaon,flat,new,takshila heights sector 37 c,0.67,5583.0,1200.0,Super Built up area 1200(111.48 sq.m.),2,2,2,not available,"New Gurgaon, Gurgaon, Haryana",3.0,NaN,1 to 5 Year Old,"['Shri Balaji Hospital and Trauma Center', 'S....",Check out this 2 bhk apartment for sale in tak...,[],"['Lift(s)', 'Swimming Pool', 'Visitor Parking'...",NaN
2777,2981.0,4 BHK Flat in New Gurgaon,flat,new,Sare Homes,0.85,4786.0,1776.0,Super Built up area 1776(165 sq.m.),4,4,3,not available,"New Gurgaon, Gurgaon, Haryana",3.0,NaN,5 to 10 Year Old,"['Columbia Asia Hospital', 'Apex Multi Special...",Located in the popular residential address of ...,[],NaN,NaN
3162,2908.0,2 BHK Flat in New Gurgaon,flat,new,Green Court,0.38,5507.0,690.0,Carpet area: 690 (64.1 sq.m.),2,2,1,not available,"New Gurgaon, Gurgaon, Haryana",7.0,NaN,Under Construction,"['Ing bank ATM', 'Dcb bank ATM', 'Indus ind ba...",We are the proud owners of this 2 bhk apartmen...,[],"['Intercom Facility', 'Lift(s)', 'Maintenance ...",NaN
3589,2049.0,4 BHK Flat in New Gurgaon,flat,new,Dlf 76,4.00,11428.0,3500.0,Carpet area: 3500 (325.16 sq.m.),4,4,2,"study room,servant room","New Gurgaon, Gurgaon, Haryana",4.0,NaN,Jun 2027,"['Shri Balaji Hospital and Trauma Center', 'S....",This lovely 4 bhk apartment/flat in new gurgao...,"['6 Wardrobe', '1 Fridge', '8 Fan', '1 Exhaust...","['Security / Fire Alarm', 'Feng Shui / Vaastu ...",NaN

In [63]:
df.loc[854,'sector'] = 'sector 37'
df.loc[2777	,'sector'] = 'sector 92'
df.loc[3162,'sector'] = 'sector 90'
df.loc[3589,'sector'] = 'sector 76'

In [62]:
df[df['sector'] == 'new sector 2']

,Unnamed: 0,property_name,property_type,sector,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
512,NaN,2 Bedroom House for sale in New Palam Vihar,house,new sector 2,my home,0.34,12592.0,270.0,Plot area 270(25.08 sq.m.),2,2,2,not available,"Ez-19 A, New Palam Vihar, Gurgaon, Haryana",3.0,West,5 to 10 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...",There are availability of various facilities l...,"['1 Wardrobe', '3 Fan', '6 Light', 'No AC', 'N...","['Water Storage', 'Park', 'Visitor Parking']","['Environment4 out of 5', 'Lifestyle4 out of 5..."
1247,31.0,2 BHK Flat in New Palam Vihar,flat,new sector 2,Ompee K S Residency,1.60,26936.0,594.0,Carpet area: 66 (55.18 sq.m.),2,2,2,not available,"New Palam Vihar, Gurgaon, Haryana",1.0,NaN,1 to 5 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...",We are the proud owners of this 2 bhk apartmen...,NaN,NaN,"['Environment4 out of 5', 'Safety4 out of 5', ..."
2258,89.0,2 BHK Flat in New Palam Vihar,flat,new sector 2,My Home,0.28,3166.0,884.0,Carpet area: 900 (83.61 sq.m.),2,1,1,others,"F 150/b, New Palam Vihar, Gurgaon, Haryana",2.0,NaN,1 to 5 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...","2 bhk room with wooden coverd ,1 drawing room,...","['3 Wardrobe', '5 Light', '1 Chimney', '1 Modu...","['Water Storage', 'Park']","['Environment4 out of 5', 'Safety4 out of 5', ..."
2482,2855.0,2 BHK Flat in New Palam Vihar,flat,new sector 2,My Home,0.22,4400.0,500.0,Carpet area: 500 (46.45 sq.m.),2,2,1,not available,"New Palam Vihar, Gurgaon, Haryana",1.0,NaN,0 to 1 Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...",Cctv surveillance are provided here. There is ...,"['3 Fan', '1 Exhaust Fan', '15 Light', '1 Modu...",NaN,"['Safety4 out of 5', 'Lifestyle4 out of 5', 'E..."
3825,NaN,3 Bedroom House for sale in New Palam Vihar,house,new sector 2,independent,1.00,8796.0,1137.0,Plot area 120(100.34 sq.m.)Built Up area: 120 ...,3,2,2,pooja room,"Q-148, New Palam Vihar, Phase-2, Near Royal Oa...",1.0,North,10+ Year Old,"['Palam Vihar Vyapar kendra', 'Palam triangle'...","Ground and first floor, Ground floor: Ground f...",NaN,NaN,"['Environment4 out of 5', 'Lifestyle4 out of 5..."

In [64]:
df.loc[[512,1247,2258,2482,3825],'sector'] = 'sector 110'

In [65]:
df.shape

(3801, 22)

In [66]:
df.duplicated().sum()

0

In [67]:
df.head()

,Unnamed: 0,property_name,property_type,sector,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,address,floorNum,facing,agePossession,nearbyLocations,description,furnishDetails,features,rating
0,2766.0,3 BHK Flat in Dwarka Expressway Gurgaon,flat,dwarka expressway,Ansals Highland Park,1.20,6185.0,1940.0,Built Up area: 1940 (180.23 sq.m.),3,3,3+,servant room,"Sector 103, Dwarka Expressway, Gurugram, Harya...",4.0,NaN,Under Construction,"['Dr. Hitesh Dawar', 'Bhardwaj Hospital', 'R K...",This three bedroom for sale comes with an affo...,"['1 Light', 'No AC', 'No Bed', 'No Chimney', '...",NaN,NaN
1,306.0,4 BHK Flat in Sector 86 Gurgaon,flat,sector 86,Ansal Heights 86,1.30,4666.0,2786.0,Super Built up area 2786(258.83 sq.m.),4,6,2,"servant room,others","11 Th Floor, Sector 86 Gurgaon, Gurgaon, Haryana",11.0,East,0 to 1 Year Old,"['IRIS Broadway Mall', 'Delhi Jaipur Expresswa...",Ready to move property directly available from...,NaN,"['Security / Fire Alarm', 'Lift(s)', 'Maintena...","['Connectivity4.5 out of 5', 'Lifestyle5 out o..."
2,2176.0,3 BHK Flat in Sector 51 Gurgaon,flat,sector 51,Orchid Island4.2 ★,1.70,10651.0,1596.0,Carpet area: 1596 (148.27 sq.m.),3,4,3,"pooja room,store room","Sector 51 Gurgaon, Gurgaon, Haryana",2.0,West,5 to 10 Year Old,"['Rapid Metro Sector 55-56', 'Tigra Market', '...",It's one of the huge lowrise society with mass...,"['4 Geyser', '10 Light', '4 AC', 'No Bed', 'No...","['Power Back-up', 'Private Garden / Terrace', ...","['Green Area5 out of 5', 'Construction4.5 out ..."
3,1450.0,2 BHK Flat in Sohna,flat,sohna road,Signature Global Park4.0 ★,0.72,5991.0,1202.0,Super Built up area 1210(112.41 sq.m.),2,2,3,pooja room,"001, Sohna, Gurgaon, Haryana",3.0,North-West,1 to 5 Year Old,"['Sector 55-56 metro', 'Global city centre', '...","Signature global park in sohna, gurgaon is a r...","['3 Fan', '1 Exhaust Fan', '3 Light', '1 Modul...","['Water purifier', 'Centrally Air Conditioned'...","['Green Area5 out of 5', 'Construction5 out of..."
4,NaN,5 Bedroom House for sale in Sector 112 Gurgaon,house,sector 112,experion windchants,9.50,23457.0,4050.0,Plot area 450(376.26 sq.m.)Built Up area: 7450...,5,5,3,servant room,"Sector 112 Gurgaon, Gurgaon, Haryana",2.0,NaN,1 to 5 Year Old,"['Ansal Plaza', 'Dwaraka Expressway', 'First S...","Sector 112 gurgaon, gurgaon, haryana\nKindly c...","['1 Modular Kitchen', 'No AC', 'No Bed', 'No C...","['Maintenance Staff', 'Swimming Pool', 'Park',...","['Environment5 out of 5', 'Lifestyle4 out of 5..."

In [68]:
# features to drop -> property_name, address, description, rating
df.drop(columns=['Unnamed: 0','property_name', 'address', 'description', 'rating'],inplace=True)

In [69]:
df.head()

,property_type,sector,society,price,price_per_sqft,area,areaWithType,bedRoom,bathroom,balcony,additionalRoom,floorNum,facing,agePossession,nearbyLocations,furnishDetails,features
0,flat,dwarka expressway,Ansals Highland Park,1.20,6185.0,1940.0,Built Up area: 1940 (180.23 sq.m.),3,3,3+,servant room,4.0,NaN,Under Construction,"['Dr. Hitesh Dawar', 'Bhardwaj Hospital', 'R K...","['1 Light', 'No AC', 'No Bed', 'No Chimney', '...",NaN
1,flat,sector 86,Ansal Heights 86,1.30,4666.0,2786.0,Super Built up area 2786(258.83 sq.m.),4,6,2,"servant room,others",11.0,East,0 to 1 Year Old,"['IRIS Broadway Mall', 'Delhi Jaipur Expresswa...",NaN,"['Security / Fire Alarm', 'Lift(s)', 'Maintena..."
2,flat,sector 51,Orchid Island4.2 ★,1.70,10651.0,1596.0,Carpet area: 1596 (148.27 sq.m.),3,4,3,"pooja room,store room",2.0,West,5 to 10 Year Old,"['Rapid Metro Sector 55-56', 'Tigra Market', '...","['4 Geyser', '10 Light', '4 AC', 'No Bed', 'No...","['Power Back-up', 'Private Garden / Terrace', ..."
3,flat,sohna road,Signature Global Park4.0 ★,0.72,5991.0,1202.0,Super Built up area 1210(112.41 sq.m.),2,2,3,pooja room,3.0,North-West,1 to 5 Year Old,"['Sector 55-56 metro', 'Global city centre', '...","['3 Fan', '1 Exhaust Fan', '3 Light', '1 Modul...","['Water purifier', 'Centrally Air Conditioned'..."
4,house,sector 112,experion windchants,9.50,23457.0,4050.0,Plot area 450(376.26 sq.m.)Built Up area: 7450...,5,5,3,servant room,2.0,NaN,1 to 5 Year Old,"['Ansal Plaza', 'Dwaraka Expressway', 'First S...","['1 Modular Kitchen', 'No AC', 'No Bed', 'No C...","['Maintenance Staff', 'Swimming Pool', 'Park',..."

In [70]:
df.shape

(3801, 17)

In [71]:
# feature engineering required -> areaWithType, additionalRoom, facing, agePossession, furnishDetails, features

In [72]:
df.duplicated().sum()

122

In [73]:
df.to_csv('gurgaon_properties_cleaned_v1.csv',index=False)